.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  color: #007BFF;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-player {
  width: 100%;
  height: 550px;
  border: none;
  border-radius: 10px;
}

.video-description {
  color: #333;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  background-color: #fffff4;
  padding: 10px;
  border-radius: 5px;
}

.video-list {
  display: block;
  overflow-y: auto; 
  max-height: 500px; 
  padding-right: 10px;
  margin-top: 150px;
}

.video-card {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  width: 90%;
  height: 60px; 
  align-items: center;
  justify-content: center;
  color: #007BFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.video-card span {
  font-size: 16px;
  font-weight: bold;
}
.custom-button {
  background-color: #007BFF; /* Primary blue color */
  color: white; /* White text */
  border: none;
  border-radius: 25px; /* Rounded button */
  padding: 10px 20px; /* Padding for size */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Centered text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.custom-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-3px); /* Slight lift on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

.custom-button:active {
  background-color: #00408a; /* Even darker blue on click */
  transform: translateY(0); /* Reset lift on click */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reset shadow on click */
}
.custom-button a{
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .video-section {
    flex: 3;
  }

  .video-list {
    flex: 1;
    flex-direction: column;
    height: 450px;
    overflow-y: auto;
  }
}
